/* MDUI List avatar fix */
.mdui-list-item-avatar, .mdui-card-header-avatar {
  background-color: #FFF;
  overflow: hidden; }
  .mdui-list-item-avatar img, .mdui-card-header-avatar img {
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.mdui-appbar {
  z-index: 5001; }

#content {
  padding: 10px;
  padding-top: 86px; }

.card {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.1); }
  .card img {
    width: 100%; }
  .card .image {
    height: 0;
    overflow: hidden;
    padding-bottom: 141.7%;
    background-size: cover;
    background-position: center; }
  .card .content {
    padding: 10px 15px 10px 15px; }
    .card .content .nameInJpn {
      color: #5a5a5a; }
    .card .content .name {
      color: 000;
      font-size: 20px; }
    .card .content .description:not(:empty) {
      line-height: 1.35em;
      margin-top: 5px;
      color: #5a5a5a; }

.waterfall {
  -webkit-column-count: 6;
  column-count: 6;
  -webkit-column-gap: 25px;
  column-gap: 25px; }

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .schedule .day {
    width: calc(100% / 7);
    display: block; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .info .card {
    width: calc(100% / 6 - 20px);
    display: block;
    margin: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none; }
  .info .image {
    border-radius: 15px;
    position: relative; }
    .info .image .time {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      line-height: 2em;
      font-size: 14px;
      color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, rgba(0, 0, 0, 0.6)));
      background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 90%);
      background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 90%);
      background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 90%); }
      .info .image .time i {
        font-size: 1em;
        height: 1em;
        width: 1.15em; }

@media (max-width: 1450px) {
  .waterfall {
    -webkit-column-count: 5;
    column-count: 5; } }

@media (max-width: 1200px) {
  .waterfall {
    -webkit-column-count: 4;
    column-count: 4; }
  .schedule .day {
    width: calc(100% / 4); }
  .info .card {
    width: calc(100% / 4 - 20px); } }

@media (max-width: 800px) {
  .waterfall {
    -webkit-column-count: 2;
    column-count: 2; }
  .schedule .day {
    width: calc(100% / 2); }
  .info .card {
    width: calc(100% / 2 - 20px); } }

@media (max-width: 600px) {
  .waterfall {
    -webkit-column-count: 1;
    column-count: 1; }
  .schedule .day {
    width: 100%; }
  .info .card {
    width: calc(100% - 20px); } }
