body>*:not(header),
#offline {
    transition: all 0.2s linear;
}

.hide {
    opacity: 0;
}

#offline.hide {
    display: none
}

.ts.card,
.ts.card img {
    border-radius: 0 !important;
}


/*
    content
*/

#content {
    margin-top: 50px;
}


/*
    header
*/

header.ts.slate {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    header.ts.slate {
        background: #2196f3;
        color: white;
    }
    header.ts.slate .header {
        text-align: left !important;
    }
    header.ts.slate:after {
        content: '';
        position: absolute;
        right: 0;
        width: 100%;
        top: 100%;
        bottom: auto;
        height: 10px;
        pointer-events: none;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), color-stop(40%, rgba(0, 0, 0, .1)), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
    }
}

header .header {
    padding: .2em;
}


/*
    switch
*/

*:focus {
    outline: none;
}

.disabled {
    pointer-events: none;
}

@media (min-width: 768px) {
    .ts.centered.cards {
        justify-content: center;
        text-align: center;
    }
}

#switch {
    min-height: 160px;
}

#switch .ts.card {
    transition: all 0.2s linear;
}

#switch .ts.card.active {
    border: 1px solid #666;
}

#switch .ts.card:not(.active) {
    opacity: .45;
}

#switch .ts.card:not(.active):hover {
    opacity: .8;
    border: 1px solid #bdbdbd;
}

#switch .ts.card:hover {
    transform: none;
    box-shadow: none;
}


/*
    fade
*/

[data-animation="fadeIn"] {
    animation: fadeIn .2s linear;
}

[data-animation="fadeOut"] {
    animation: fadeOut .2s linear;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*
    waterfall
*/

[data-type="waterfall"] .ts.card {
    overflow: hidden;
    box-shadow: none;
}

[data-type="waterfall"] .ts.card>.image>.header:not(.ts) {
    opacity: 0;
    transition: .4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
    border-radius: 0 !important;
    transform-origin: bottom;
    height: 100%;
    transform: translateY(110%) scaleY(1.25);
    padding: 1.25rem 1.5rem;
}

[data-type="waterfall"] .ts.card:hover>.image>.header:not(.ts) {
    opacity: 1;
    transform: none;
    background: rgba(0, 0, 0, 0);
}

[data-type="waterfall"] .ts.card>.image>img {
    transition: .4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
    border-radius: 0 !important;
}

[data-type="waterfall"] .ts.card:hover>.image>img {
    filter: brightness(50%);
}

@media (max-width: 768px) {
    [data-type="waterfall"] .ts.card>.image>.header {
        font-size: 14px !important;
    }
    [data-type="waterfall"] .ts.card>.image>.header>.sub.header {
        font-size: 11px !important;
    }
}