body>footer,
body>.ts.container,
#offline {
    transition: all .4s linear;
}

.hide {
    opacity: 0;
}

#offline.hide {
    display: none
}

.ts.card,
.ts.card img {
    border-radius: 0 !important;
}

.ts.button {
    border-radius: 0.15rem;
    box-shadow: 0 2px 2px #0000002b;
    border-width: 0;
}


/*
    content
*/

#content {
    margin-top: 50px;
}


/*
    header
*/

header.ts.slate {
    margin-bottom: 50px;
    background: #2196f3;
    color: white;
}

header.ts.slate {
    position: fixed;
    z-index: 10;
}

header.ts.slate .header {
    text-align: left !important;
    padding: .3em;
    font-size: 1.2em !important;
}

header.ts.slate:after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 10px;
    pointer-events: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), color-stop(40%, rgba(0, 0, 0, .1)), color-stop(50%, rgba(0, 0, 0, .05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .1) 40%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}

#switch {
    padding-top: 75px;
}


/*
    switch
*/

*:focus {
    outline: none;
}

.disabled {
    pointer-events: none;
}

#switch {
    min-height: 160px;
}

#switch .ts.cards {
    padding: .75rem;
}

#switch .ts.card {
    transition: all .2s ease;
    border-radius: 0.15rem !important;
    box-shadow: 0 2px 5px #00000024;
    overflow: hidden;
    opacity: 1;
    border-width: 0;
}

#switch .ts.card.active {
    transform: translateY(-3px);
    box-shadow: 0 4px 11px #00000024;
    background-color: #2195f3;
}

#switch .ts.card.active .symbol,
#switch .ts.card.active .header,
#switch .ts.card.active .description {
    color: white;
}

#switch .ts.card .symbol {
    color: #2196f3;
}

#switch .ts.card:hover {
    box-shadow: 0 4px 11px #00000024;
}

.slick-slide {
    padding-bottom: 10px;
}


/*
    fade
*/

[data-animation="fadeIn"] {
    animation: fadeIn .2s linear;
}

[data-animation="fadeOut"] {
    animation: fadeOut .2s linear;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3px);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-3px);
    }
}


/*
    info
*/

i.icon.Comic:before {
    content: "\f1fc";
}

i.icon.Novel:before {
    content: "\f02d";
}

i.icon.Game:before {
    content: "\f11b";
}

i.icon.Original:before {
    content: "\f26c";
}

.ts.card.Comic,
.ts.card.Novel,
.ts.card.Game,
.ts.card.Original {
    border-bottom-width: 2px;
    border-bottom-color: #ff00bc;
}

.ts.card.Comic {
    border-bottom-color: #ff00bc;
}

.ts.card.Comic .symbol .icon {
    color: #ff00bc;
}

.ts.card.Novel {
    border-bottom-color: #ff5aae;
}

.ts.card.Novel .symbol .icon {
    color: #ff5aae;
}

.ts.card.Game {
    border-bottom-color: #88d444;
}

.ts.card.Game .symbol .icon {
    color: #88d444;
}

.ts.card.Original {
    border-bottom-color: #ff86ad;
}

.ts.card.Original .symbol .icon {
    color: #ff86ad;
}


/*
    waterfall
*/

[data-type="waterfall"] .ts.card {
    overflow: hidden;
    box-shadow: none;
}

[data-type="waterfall"] .ts.card>.image>.header:not(.ts) {
    opacity: 0;
    transition: .4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
    border-radius: 0 !important;
    transform-origin: bottom;
    height: 100%;
    transform: translateY(110%) scaleY(1.25);
    padding: 1.25rem 1.5rem;
}

[data-type="waterfall"] .ts.card:hover>.image>.header:not(.ts) {
    opacity: 1;
    transform: none;
    background: rgba(0, 0, 0, 0);
}

[data-type="waterfall"] .ts.card>.image>img {
    transition: .4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
    border-radius: 0 !important;
}

[data-type="waterfall"] .ts.card:hover>.image>img {
    filter: brightness(50%);
}

@media (max-width: 768px) {
    [data-type="waterfall"] .ts.card>.image>.header {
        font-size: 14px !important;
    }
    [data-type="waterfall"] .ts.card>.image>.header>.sub.header {
        font-size: 11px !important;
    }
}