.slick-next:before,
.slick-prev:before {
    color: #919191;
}

*:focus {
    outline: none;
}

#content {
    margin-top: 50px;
}

header {
    margin-bottom: 50px
}

.disabled {
    pointer-events: none;
}

#switch .ts.card {
    transition: all 0.2s linear;
}

#switch .ts.card.active {
    border: 1px solid #666;
}

#switch .ts.card:not(.active) {
    filter: opacity(.5);
}

#switch .ts.card:not(.active):hover {
    filter: opacity(.8);
    border: 1px solid #bdbdbd;
}

#switch .ts.card:hover {
    transform: none;
    box-shadow: none;
}


/*
    fade
*/

[data-animation="slideIn"] {
    animation: slideIn .25s ease;
}

[data-animation="slideOut"] {
    animation: slideOut .25s ease;
    filter: opacity(0);
}

@keyframes slideIn {
    from {
        filter: opacity(0);
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
        filter: opacity(1);
    }
}

@keyframes slideOut {
    from {
        filter: opacity(1);
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
        filter: opacity(0);
    }
}


/*
    waterfall
*/

[data-type="waterfall"] .ts.card {
    overflow: hidden;
    border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}

[data-type="waterfall"] .ts.card>.image>.header:not(.ts) {
    opacity: 0;
    transition: .4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
    border-radius: 0 !important;
    transform-origin: bottom;
    height: 100%;
    transform: translateX(-110%) scaleX(1.25);
    padding: 1.25rem 1.5rem;
}

[data-type="waterfall"] .ts.card:hover>.image>.header:not(.ts) {
    opacity: 1;
    transform: none;
}

[data-type="waterfall"] .ts.card>.image>img {
    transition: .4s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
    border-radius: 0 !important;
}

[data-type="waterfall"] .ts.card:hover>.image>img {
    filter: blur(2px) grayscale(70%) brightness(80%);
}

@media (max-width: 768px) {
    [data-type="waterfall"] .ts.card>.image>.header {
        font-size: 14px !important;
    }
    [data-type="waterfall"] .ts.card>.image>.header>.sub.header {
        font-size: 11px !important;
    }
}