//-
    _tocasui.jade
    最新版本的 Tocas UI，不需要其餘設定
    如果有更新沒跟到，可以直接發 PR 或是去開 Issue
//-Tocas UI CSS
link(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
//-Tocas UI JS
script(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js')