doctype html
html
    head
        title Anime List
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        // Tocas UI 
        include ../Jade/_tocasui.jade
        // social_tags
        include ../Jade/_tags.jade
        +social_tags('Anime List','展示新番的清單','https://gnehs.github.io/Anime-List/og.png','https://gnehs.github.io/Anime-List/')
        // JQuery https://cdnjs.com/libraries/jquery/ 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // slick 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css',rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css',rel='stylesheet')
        //main
        script(src='./js/index.js?' + Math.floor(Math.random() * (999)))
        link(rel="icon" href="./icon/drawable-ldpi/icon.png")
        link(href='./css/style.css?' + Math.floor(Math.random() * (999)) ,rel='stylesheet')
        // PWA
        link(rel="manifest" href="./manifest.json")
        meta(name="theme-color" content="#f7f7f7")
        // Add to home screen for Safari on iOS
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="Anime List")
        link(rel="apple-touch-icon" href="./icon/drawable-xhdpi/icon.png")
        // Windows
        meta(name="msapplication-TileImage" content="./icon/drawable-xhdpi/icon.png")
        meta(name="msapplication-TileColor" content="#2196f3")

    body
        // 標題
        header.ts.slate.huge.fluid.fitted
            .ts.container
                .header Anime List
        .ts.container.hide 
            #switch
            #switch-buttons(style='text-align:center;margin:10px auto')
                .ts.relaxed.separated.circular.buttons.icon
                    a.ts.button(data-slick='slickPrev')
                        i.chevron.left.icon
                    a.ts.button.right.floated(data-slick='slickNext')
                        i.chevron.right.icon
            .ts.divider
            #offline.hide 
                .ts.inverted.negative.message
                    .header 已離線
                    p 連上網路以取得最新資料
            #content 
                h3.ts.center.aligned.icon.header 
                    i.pointing.up.icon
                    | 歡迎
                    .sub.header 使用上方選擇器來瀏覽本站資料

        footer.ts.container
            .ts.section.horizontal.divider gnehs 2018
            .ts.relaxed.separated.compact.buttons
                a.ts.button.labeled.icon(data-top)
                    i.arrow.up.icon
                    | Top
                a.ts.button.labeled.icon(href='https://github.com/gnehs/Anime-List') 
                    i.github.icon
                    | GitHub
            br
            br