doctype html
html
    head
        title Anime List
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        include ../Jade/_tocasui.jade
        include ../Jade/_tags.jade
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css',rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css',rel='stylesheet')
        link(href='./css/style.css',rel='stylesheet')
        +social_tags('Anime List','展示新番的清單','https://gnehs.github.io/Anime-List/og.png','https://gnehs.github.io/Anime-List/')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src='./js/index.js?45')
    body
        // 標題
        header.ts.slate.huge
            .header Anime List
        .ts.container
            #switch
            #content 
                h3.ts.center.aligned.icon.header 
                    i.pointing.up.icon
                    | 歡迎
                    .sub.header 使用上方選擇器來瀏覽本站資料

        footer.ts.container
            .ts.section.horizontal.divider gnehs 2018
            .ts.relaxed.separated.buttons
                a.ts.button.labeled.icon(href='#top')
                    i.arrow.up.icon
                    | 回到頂部
                a.ts.button.labeled.icon(href='https://github.com/gnehs/Anime-List') 
                    i.github.icon
                    |GitHub
            br
            br