doctype html
html
    head
        title Anime List
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        include ../Jade/_tocasui.jade
        include ../Jade/_tags.jade
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css',rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css',rel='stylesheet')
        link(href='./css/style.css?' + Math.floor(Math.random() * (99999999)) ,rel='stylesheet')
        +social_tags('Anime List','展示新番的清單','https://gnehs.github.io/Anime-List/og.png','https://gnehs.github.io/Anime-List/')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src='./js/index.js?' + Math.floor(Math.random() * (99999999)) )
    body
        // 標題
        header.ts.slate.huge.fluid
            .header Anime List
        .ts.container
            #switch
                h2.ts.center.aligned.header Loading
                    .sub.header 讀取中
                .ts.doubling.four.centered.cards
                    .ts.card
                        .content
                            .header 介紹
                            .description 圖文介紹
                        .symbol
                            i.icon.newspaper
                    .ts.card
                        .content
                            .header 日程表
                            .description 以表格展示新番日程
                        .symbol
                            i.icon.table
                    .ts.card
                        .content
                            .header 瀑布流
                            .description 一個美觀的展示用頁面
                        .symbol
                            i.icon.cube

            #switch-buttons(style='text-align:center;margin:10px auto')
                .ts.relaxed.separated.circular.buttons.icon
                        a.ts.button(data-slick='slickPrev')
                            i.arrow.left.icon
                        a.ts.button.right.floated(data-slick='slickNext')
                            i.arrow.right.icon
            .ts.divider
            #content 
                h3.ts.center.aligned.icon.header 
                    i.pointing.up.icon
                    | 歡迎
                    .sub.header 使用上方選擇器來瀏覽本站資料

        footer.ts.container
            .ts.section.horizontal.divider gnehs 2018
            .ts.relaxed.separated.compact.buttons
                a.ts.button.labeled.icon(href='#top')
                    i.arrow.up.icon
                    | Top
                a.ts.button.labeled.icon(href='https://github.com/gnehs/Anime-List') 
                    i.github.icon
                    | GitHub
            br
            br