doctype html
html
    head
        title 7月新番
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        // SEO
        meta(name='keywords',content='棒棒勝,7月新番,情報')
        meta(name='author',content='棒棒勝')
        meta(name='description',content='7月新番最新情報')
        // OG TAGS
        meta(property='og:title',content='7月新番')
        meta(property='og:image',content='https://gnehs.github.io/Anime-List/og.jpg')
        meta(property='og:description',content='7月新番最新情報')
        meta(property='article:author',content='https://www.facebook.com/gnehsouo/')
        //-Tocas UI
        include ./../_tocasui.jade
        //-棒棒勝的自訂元件
        include ./../_gnehs.jade
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // 7月新番資料
        script(src='anime2017.07.js')
        // 將資料載入網頁中
        script(src='index.js')
    body
        #top.ts.basic.menu.top.attached
            .ts.container
                a.item(href='#Sun') 週日
                a.item(href='#Mon') 週一
                a.item(href='#Tue') 週二
                a.item(href='#Wed') 週三
                a.item(href='#Thu') 週四
                a.item(href='#Fri') 週五
                a.item(href='#Sat') 週六
                .right.menu
                    a.item(href='https://github.com/gnehs/Anime-List') GitHub
        // 標題
        .ts.slate.huge
            .header 7月新番
            .description 7月新番最新情報
        br
        br
        .ts.container
            h3.ts.header 週日
                .sub.header 一周的開始
            #Sun.ts.four.doubling.waterfall.cards
            h3.ts.header 週一
                .sub.header 憂鬱星期一
            #Mon.ts.four.doubling.waterfall.cards
            h3.ts.header 週二
                .sub.header 煩躁星期二
            #Tue.ts.four.doubling.waterfall.cards
            h3.ts.header 週三
                .sub.header 喝杯咖啡撐下去吧
            #Wed.ts.four.doubling.waterfall.cards
            h3.ts.header 週四
                .sub.header 已經...可以看到週六了
            #Thu.ts.four.doubling.waterfall.cards
            h3.ts.header 週五
                .sub.header 加油！再撐一天
            #Fri.ts.four.doubling.waterfall.cards
            h3.ts.header 週六
                .sub.header 是周末！
            #Sat.ts.four.doubling.waterfall.cards
        .ts.slate.bottom.attached 
            | 2017 棒棒勝
            a(href='#top')
                i.arrow.up.icon
                | 回到頂部