doctype html
html
    head
        title Anime List
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        //- social_tags
        include ./Jade/_tags.jade
        +social_tags('Anime List', '展示新番的清單', 'https://acgntaiwan.github.io/Anime-List/og.png', 'https://acgntaiwan.github.io/Anime-List/') 
        //- MDUI
        link(href='//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css', rel='stylesheet')
        //- evaicon
        link(href='//unpkg.com/eva-icons@1.1.0/style/eva-icons.css', rel='stylesheet')
        //- font
        link(href='//fonts.googleapis.com/css?family=Product+Sans&display=swap', rel='stylesheet')
        //- main 
        link(href='./css/AnimeList.css?' + Math.floor(Math.random() * (999)), rel='stylesheet')
        //- theme color
        meta(name="theme-color" content="#e6f2fd")
        //- icon
        link(rel="icon" href="./icon/icon.png")

    body.mdui-drawer-body-left.mdui-theme-primary-indigo.mdui-theme-accent-indigo
        header.mdui-appbar-fixed.mdui-appbar
            .mdui-toolbar
                a.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(mdui-drawer="{target: '#drawer', swipe: true}")
                    i.mdui-icon.material-icons menu
                .mdui-typo-title Anime List
                .mdui-toolbar-spacer
                a.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(href="https://github.com/ACGNTaiwan/Anime-List",target="_blank",mdui-tooltip="{content:'Github'}")
                    i.mdui-icon.eva.eva-github-outline
        #drawer.mdui-drawer.mdui-appbar-with-toolbar
            ul.mdui-list
        .header-wrapper
            #hw-bg.bg(style=`background-image: url("https://i.imgur.com/1gfrM7N.jpg")`)
        #hw-header.hw-header
            .hw-title(style="line-height: normal;") {{title}}
            .hw-subtitle(hide-phone) {{subtitle}}
            .hw-subtitle(hide-desktop) {{subtitle}}
        #content Loading
        //- navigo 
        script(src='./js/navigo.min.js')
        //- MDUI 
        script(src='//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js')
        //- JQuery
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        //- main 
        script(src='./js/index.js?' + Math.floor(Math.random() * (999)))