//- 模板
mixin day(day,header,caption)
    h2.ts.header.dividing.center.aligned=header
        .sub.header=caption
doctype html
html
    head
        title 10月新番 - 瀑布流
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        //-底下是 https://github.com/gnehs/Jade 里的東東，你的放置位置可能不一樣，發 PR 時拜託不要動到這裡
        include ../Jade/_tocasui.jade
        include ../Jade/_tags.jade
        +social_tags('10月新番 - 瀑布流','展示用頁面','https://gnehs.github.io/Anime-List/2017.10/og.png','https://gnehs.github.io/Anime-List/')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // 10月新番資料 
        script(src='anime2017.10.js')
        // 將資料載入網頁中 
        script(src='waterfall.js')
        // Hover 才顯示動畫介紹
        style.
            .ts.card{
                overflow: hidden;
                border-radius: 0;
                border-radius: 0;
            }
            .ts.card>.image>.header:not(.ts){
                opacity: 0;
                transition: .4s;
                transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
                border-radius: 0 !important;
                transform-origin:bottom;
                height: 100%;
                transform: scale(1.2);
                padding: 1.25rem 1.5rem;
            }
            .ts.card:hover>.image>.header:not(.ts){
                opacity: 1;
                transform: scale(1);
            }
            .ts.card>.image>img{
                transition: .4s;
                transition-timing-function: cubic-bezier(0.68, 0, 0.29, 0.99);
                border-radius: 0 !important;
            }
            .ts.card:hover>.image>img{
                filter:  blur(2px) contrast(150%);
                transform: scale(1.1);
            }
            @media (max-width: 768px){
                .ts.card>.image>.header{
                    font-size: 14px !important;
                }
                .ts.card>.image>.header>.sub.header{
                    font-size: 11px !important;
                }
            }
    body
        #top.ts.basic.menu.top.attached.borderless.horizontally.scrollable
            .ts.container
                .right.menu
                    a.item(href='./../') 首頁
                    a.item(href='https://github.com/gnehs/Anime-List') GitHub
        // 標題 
        .ts.slate.huge
            .header 10月新番 - 瀑布流
            .description 就是個展示用的頁面，滑鼠滑到圖片上或是按圖片來查看介紹
        br
        br
        .ts.container
            #waterfall.ts.four.doubling.waterfall.cards
            br
            br
        footer.ts.fluid.center.aligned.slate 2017 棒棒勝 
            br
            a(href='#top')
                i.arrow.up.icon
                | 回到頂部