//- 模板
mixin day(day,header,caption)
    h2.ts.header.dividing.center.aligned=header
        .sub.header=caption
doctype html
html
    head
        title 10月新番 - 瀑布流
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        include ../Jade/_tocasui.jade
        include ../Jade/_tags.jade
        +social_tags('10月新番 - 瀑布流','展示用頁面','https://gnehs.github.io/Anime-List/2017.10/og.png','https://gnehs.github.io/Anime-List/')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // 10月新番資料 
        script(src='anime2017.10.js')
        // 將資料載入網頁中 
        script(src='waterfall.js')
        // Hover 才顯示動畫介紹
        link(rel='stylesheet', href='../css/waterfall.css')
    body
        #top.ts.basic.menu.top.attached.borderless.horizontally.scrollable
            .ts.container
                .right.menu
                    a.item(href='./../') 首頁
                    a.item(href='https://github.com/gnehs/Anime-List') GitHub
        // 標題 
        .ts.slate.huge
            .header 10月新番 - 瀑布流
            .description 就是個展示用的頁面，滑鼠滑到圖片上或是按圖片來查看介紹
        br
        br
        .ts.container
            #waterfall.ts.four.doubling.waterfall.cards
            br
            br
        
        include ../_footer.pug