//- 模板
mixin day(day,daych)
    .column
        .ts.very.relaxed.divided.list(id=day) 
            h3.ts.header=daych
doctype html
html
    head
        title 4月新番 日程表
        meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        include ../Jade/_tocasui.jade
        include ../Jade/_tags.jade
        +social_tags('4月新番','4月新番最新情報','https://gnehs.github.io/Anime-List/og.png','https://gnehs.github.io/Anime-List/')
        // JQ https://cdnjs.com/libraries/jquery/
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // 新番資料
        script(src='anime2018.04.js')
        // 將資料載入網頁中
        script(src='schedule.js')
    body
        #top.ts.basic.menu.top.attached.borderless.horizontally.scrollable
            .ts.container
                a.item(href='schedule.html') 4月新番 日程表
                .right.menu
                    a.item(href='./../') 首頁
                    a.item(href='https://github.com/gnehs/Anime-List') GitHub
        // 標題
        .ts.slate.huge
            .header 4月新番 日程表
            .description 好ㄉ
        br
        br
        .ts.container
            .ts.doubling.seven.column.grid
                +day('Sun','週日')
                +day('Mon','週一')
                +day('Tue','週二')
                +day('Wed','週三')
                +day('Thu','週四')
                +day('Fri','週五')
                +day('Sat','週六')

        
        include ../_footer.pug